.ICEauthority
.cabal/
.cache/
.cert/
.config/
.dmenu_cache
.esd_auth
.fehbg
.ghc/
.gitconfig
.gnupg/
.histfile
.local/
.mozilla/
.mpv/filters/
.mpv/input.conf
.mpv/scripts/
.mpv/shaders
.oh-my-zsh/
.pentadactyl/
.pki/
.ssh/
.thunderbird/
.ts3client/
.vim/.netrwhist
.vim/bundle/
.viminfo
.xmonad/xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonadSave.hs
.zcompdump
Documents/
Downloads/
Pictures/
Progs/
workspace/
